#projects {
    width: 500px;
}
.portfolio__img {
    margin: 10px;
}
.portfolio__button {
    margin: 10px;
  }
.portfolio__title {
    padding: 10px;
    font-size: 20px;
}
.portfolio__description {
    font-size: 15px;
}
#app {
    height: 100%;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  